.card_purchase{
    height: 500px;
    width: 350px;
    box-shadow: 3px 3px 15px #61defd;
  }
  .card_purchase:hover{
      border-right: 1px solid rgb(0, 0, 0);
      border-bottom: 1px solid rgb(0, 0, 0);
      box-shadow: 3px 3px 15px rgb(43, 43, 43) inset;
  }
  .card_puechase_top
  {
    width: 400px;
  }
  .card_purchase_btm{
    height: 280px;
  }


  /* home */

  .tobBody{
    background: url(image/Untitled-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
  }
  .topMidBody{
    background: url(image/Untitled-1.png);
    background-repeat: no-repeat;
    height: 110vh;
  }
.toptx{
    color: #024AA2;
}
.toptx b{
    color: #073975;
}
.button_front{
    margin-left: 100px;
}

.bg-card{
    margin-left: 30px;
    margin-top: 140px;
    box-sizing: border-box;
    border-right: 8px solid #06E8DE;
    border-bottom: 8px solid #06E8DE;
  }
  .bg-card:hover{
    border-right: 8px solid #440775;
    border-bottom: 8px solid #440775;
    padding: 8px;
    cursor: pointer;
  }
  .optionCard{
    width: 300px;
  }
  .optionCard:hover{
    box-sizing: border-box;
    box-shadow: 10px 10px 18px #000;
  }